<div
  class="spotify__albumCard"
  [class.top-result-mode]="isTopResult"
  [class.fixed-width]="fixedSize"
  (click)="onCardClick()"
  role="button"
  tabindex="0"
>
  <div class="card-inner">
    <div
      class="spotify__albumCard_thumbnail"
      [style.background-color]="backgroundColor"
    >
      @if (playlistThumbnail) {
        <img
          [src]="playlistThumbnail"
          (error)="onImageError($event)"
          loading="lazy"
          alt="Cover"
        />
      } @else if (backgroundColor) {
        <div
          class="category-title-overlay"
          appFitText
          [minFontSize]="16"
          [maxFontSize]="16"
        >
          {{ title }}
        </div>
      }
    </div>

    <div class="spotify__albumCard_text">
      <p
        class="title"
        appFitText
        [minFontSize]="16"
        [maxFontSize]="32"
      >
        {{ title }}
      </p>

      @if (description) {
        <p
          class="description"
          (click)="onArtistClick($event)"
        >
          {{ description }}
        </p>
      }

      @if (type !== 'category') {
        @if (isTopResult) {
          <div class="entity-badge">
            <span class="chip">{{ type || 'album' | titlecase }}</span>
          </div>

        } @else if (getYear(); as year) {
          <div class="album-meta">
            {{ year }} • {{ type || 'album' | titlecase }}
          </div>

        } @else {
          <div class="album-meta">
            {{ type || 'album' | titlecase }}
          </div>
        }
      }
    </div>

    @if (isTopResult) {
      <div class="play-button-overlay">
        <button
          class="play-btn"
          (click)="handlePlay($event)"
          aria-label="Play"
        >
          @if (isPlaying) {
            <img
              width="25px"
              src="assets/pause-50.svg"
              alt="Pause"
            />
          } @else {
            <img
              width="25px"
              src="assets/spielen-50.svg"
              alt="Play"
              class="svg-icon"
            />
          }
        </button>
      </div>
    }
  </div>
</div>
