<div
    class="spotify__albumCard"
    [class.top-result-mode]="isTopResult"
    [class.fixed-width]="fixedSize"
>
    <a [routerLink]="link">
        <div
            class="spotify__albumCard_thumbnail"
            [style.background-color]="backgroundColor"
        >
            <img
                (error)="onImageError($event)"
            />
        </div>

        <div class="spotify__albumCard_text">
            <p class="title">{{ title }}</p>

            <div class="meta-row">
                <p class="description">{{ description }}</p>
            </div>
        </div>

        @if (isTopResult) {
            <div class="play-button-overlay">
                <button>▶</button>
            </div>
        }
    </a>
</div>
