<div class="search-container">
  <div class="mobile-search-header">
    <div class="search-box">
      <img
        src="assets/search.svg"
        alt="Search"
        class="search-icon"
      />
      <input
        type="search"
        placeholder="What do you want to listen to?"
        [ngModel]="query"
        (ngModelChange)="onMobileSearch($event)"
      />
    </div>
  </div>

  @if (
    filteredAlbums.length > 0 ||
    filteredTracks.length > 0 ||
    topTrack ||
    topAlbumResult
  ) {
    <div class="top-section-grid">
      <div class="top-result-column">
        <h2>Top result</h2>

        @if (topAlbumResult) {
          <app-albumCard
            [id]="topAlbumResult.id"
            [artistId]="topAlbumResult.artistId"
            [type]="topAlbumResult.description === 'Artist' ? 'artist' : 'album'"
            [title]="topAlbumResult.title"
            [description]="topAlbumResult.description === 'Artist' ? '' : topAlbumResult.description"
            [playlistThumbnail]="topAlbumResult.cover"
            [isTopResult]="true"
            [fixedSize]="false"
            [isPlaying]="isTopResultPlaying"
            (playRequest)="
              topAlbumFullSongs.length > 0
                ? handlePlay(topAlbumFullSongs[0])
                : null
            "
          ></app-albumCard>
        } @else if (topTrack) {
          <app-albumCard
            [id]="topTrack.albumId"
            [artistId]="topTrack.artistId"
            [type]="'song'"
            [title]="topTrack.title"
            [description]="topTrack.artist"
            [playlistThumbnail]="topTrack.coverFromAlbum"
            [isTopResult]="true"
            [fixedSize]="false"
            [isPlaying]="isTopResultPlaying"
            (playRequest)="handlePlay(topTrack)"
          ></app-albumCard>
        }
      </div>

      <div class="songs-column">
        <h2>Songs</h2>
        <div class="track-list">
          @for (track of filteredTracks; track track.id) {
            <app-songRow
              [context]="'search-album'"
              [song]="track"
              [class.track-disabled]="!track.url"
              [index]="
                track.thumbnail || track.coverFromAlbum || 'assets/no-album.png'
              "
              [context]="'search-album'"
              [currentTrack]="currentTrack$ | async"
              [isPlaying]="(isPlaying$ | async) || false"
              (playRequest)="track.url ? handlePlay(track) : null"
            ></app-songRow>
          }
        </div>
      </div>
    </div>
  } @else {
    <div class="empty-state">
      <p>
        {{
          query
            ? 'No results found for "' + query + '"'
            : 'Please search for something'
        }}
      </p>
    </div>
  }
</div>
