<div
  class="songRow__container"
  [class.search-mode]="isSearchMode"
  [class.active]="isCurrent"
  (click)="handlePlay($event)"
>
  <div class="row__info">
    <div class="index-col">
      @if (thumbnailUrl) {
        <div class="thumbnail-wrapper">
          <img
            [src]="thumbnailUrl"
            class="row-thumbnail"
            alt="cover"
          />
          <button
            class="play-icon overlay-icon"
            (click)="handlePlay($event)"
          >
            @if (isCurrent && isPlaying) {
              <img
                width="20px"
                src="assets/pause-50.svg"
                alt="Pause"
                class="svg-icon"
              />
            } @else {
              <img
                width="20px"
                src="assets/spielen-50.svg"
                alt="Play"
                class="svg-icon"
              />
            }
          </button>
        </div>
      } @else {
        <span class="index-number">
          @if (isCurrent) {
            <img
              width="20px"
              src="assets/spielen-50.svg"
              alt="Active"
              class="index-icon"
            />
          } @else {
            {{ index }}
          }
        </span>

        <button
          class="play-icon hover-icon"
          (click)="handlePlay($event)"
        >
          @if (isCurrent && isPlaying) {
            <img
              width="20px"
              src="assets/pause-50.svg"
              alt="Pause"
              class="svg-icon"
            />
          } @else {
            <img
              width="20px"
              src="assets/spielen-50.svg"
              alt="Play"
              class="svg-icon"
            />
          }
        </button>
      }
    </div>

    <div class="row__text">
      <div
        class="title"
        [class.active-title]="isCurrent"
      >
        <span>{{ song.title }}</span>
      </div>
      <div class="artist">
        <span>{{ song.artist }}</span>
      </div>
    </div>
  </div>

  <div class="row__duration">
    <span>{{ song.duration | formatTime }}</span>
  </div>
</div>
