<div class="slider-container">
  @if(showButtons){
  <button class="scroll-btn left" (click)="scrollLeft(slider)">‹</button>
  }

  <div #slider class="playlist_card_collections">
    @for (item of items; track item.id) {

    <div class="album-card-wrapper" (click)="onNavigate(item)">
      <app-albumCard
        [title]="item.title"
        [description]="item.description"
        [playlistThumbnail]="item.thumbnail?.trim() || item.cover?.trim() || 'assets/no-image.jpg'"
        [id]="item.id"
      >
      </app-albumCard>
    </div>

    }
  </div>
  @if(showButtons){
  <button class="scroll-btn right" (click)="scrollRight(slider)">›</button>
  }
</div>
