<div class="search-container">
  <div class="mobile-search-header">
    <div class="search-box">
      <img src="assets/search.svg" alt="Search" class="search-icon">
      <input 
        type="search" 
        placeholder="What do you want to listen to?" 
        [ngModel]="query" 
        (ngModelChange)="onMobileSearch($event)"
      >
    </div>
  </div>
  @if (
    filteredAlbums.length > 0 ||
    filteredTracks.length > 0 ||
    topTrack ||
    topAlbumResult
  ) {
    <div class="top-section-grid">
      <div class="top-result-column">
        <h2>Top result</h2>

        @if (topAlbumResult) {
          <app-albumCard
            [id]="topAlbumResult.id"
            [artistId]="topAlbumResult.artistId"
            [type]="'album'"
            [title]="topAlbumResult.title"
            [description]="topAlbumResult.description"
            [playlistThumbnail]="topAlbumResult.cover"
            [isTopResult]="true"
            [fixedSize]="false"
            [isPlaying]="isTopResultPlaying"
            (playRequest)="handlePlay(topAlbumResult.songs[0])"
          ></app-albumCard>

        } @else if (topTrack) {
          <app-albumCard
            [id]="topTrack.albumId"
            [artistId]="topTrack.artistId"
            [type]="'album'"
            [title]="topTrack.title"
            [description]="topTrack.artist"
            [playlistThumbnail]="topTrack.coverFromAlbum"
            [isTopResult]="true"
            [fixedSize]="false"
            [isPlaying]="isTopResultPlaying"
            (playRequest)="handlePlay(topTrack)"
          ></app-albumCard>

        } @else if (filteredAlbums.length > 0 && filteredAlbums[0]?.id) {
          <app-albumCard
            [id]="filteredAlbums[0].id"
            [artistId]="filteredAlbums[0].artistId"
            [type]="'album'"
            [title]="filteredAlbums[0].title"
            [description]="filteredAlbums[0].description"
            [playlistThumbnail]="filteredAlbums[0].cover"
            [isTopResult]="true"
            [fixedSize]="false"
            [isPlaying]="isTopResultPlaying"
            (playRequest)="handlePlay(filteredAlbums[0].songs[0])"
          ></app-albumCard>
        }
      </div>

      <div class="songs-column">
        <h2>Songs</h2>
        <div class="track-list">
          @for (track of filteredTracks; track track.id) {
            <app-songRow
              [song]="track"
              [index]="
                track.thumbnail || track.coverFromAlbum || 'assets/no-album.png'
              "
              [currentTrack]="currentTrack$ | async"
              [isPlaying]="(isPlaying$ | async) || false"
              (playRequest)="handlePlay(track)"
            ></app-songRow>
          }

          @if (filteredTracks.length < 4) {
            @for (track of topAlbumSongs; track track.id) {
              <app-songRow
                [song]="track"
                [index]="
                  track.thumbnail ||
                  track.coverFromAlbum ||
                  'assets/no-album.png'
                "
                [currentTrack]="currentTrack$ | async"
                [isPlaying]="(isPlaying$ | async) || false"
                (playRequest)="handlePlay(track)"
              ></app-songRow>
            }
          }
        </div>
      </div>
    </div>
  } @else {
    <div class="empty-state">
      @if (query) {
        <p>No results found for "{{ query }}"</p>
      } @else {
        <p>Please search for something</p>
      }
    </div>
  }
</div>
