<div class="search-container">
  <!-- ALBUM RESULTS -->
  @if (filteredAlbums.length > 0) {

<!-- Для поиска альбома -->
  <div class="results-grid">
    @for (album of filteredAlbums; track album.id) {
    <div class="search-card" [routerLink]="['/playlist', album.id]">
      <div class="card-image">
        <img [src]="album.cover" />
      </div>

      <div class="card-content">
        <h3>{{ album.title }}</h3>
        <p>{{ album.description }}</p>
      </div>
    </div>
    }
  </div>
  }
 <!-- Для поиска песни -->
  @if (filteredTracks.length > 0) {


  <div class="track-list">
    
    @for (track of filteredTracks; track track.id) {

    <app-albumCard
      [title]="track.title"
      [description]="track.artist"
      [playlistThumbnail]="track.thumbnail || track.coverFromAlbum"
    ></app-albumCard>
    }
  </div>
  }

  <!-- EMPTY STATES -->
  @if (filteredAlbums.length === 0 && filteredTracks.length === 0) {
  <div class="empty-state">
    @if(query){
    <p>По запросу «{{ query }}» ничего не найдено.</p>
    } @else {
    <p>Введите запрос, чтобы найти музыку.</p>
    }
  </div>
  }
</div>
