@if (album) {
  <div class="album_page">
    <div
      class="gradient-background"
      [style.background]="gradientColor"
    ></div>

    <div
      class="sticky-header"
      [class.visible]="isSticky"
      [style.background-color]="mainColor"
    >
      <div class="sticky-content">
        <button
          class="play-btn"
          (click)="handlePlay($any(album.songs[0]))"
        >
          <div class="play-icon">
            @if (isAlbumPlaying) {
              <img
                width="25px"
                src="assets/pause-50.svg"
                alt="pause"
                class="svg-icon"
              />
            } @else {
              <img
                width="25px"
                src="assets/spielen-50.svg"
                alt="Play"
                class="svg-icon"
              />
            }
          </div>
        </button>
        <div class="sticky-text">
          <h2>{{ album.title }}</h2>
        </div>
      </div>
    </div>

    <div
      class="album_header"
      #albumHeaderRef
    >
      <div class="album-header__inside">
        <img
          [src]="album.cover"
          class="album_cover"
        />
        <div class="album_info">
          <h1>{{ album.title }}</h1>
          @if (album.description) {
            <p
              class="description active"
              (click)="onArtistClick($event)"
            >
              {{ album.description }}
            </p>
          }
          <p class="description-lenght">{{ album.songs.length }} songs</p>
        </div>
      </div>
    </div>

    <div
      class="table-header"
      [style.background-color]="isSticky ? '#1f1f1f' : 'transparent'"
      [style.box-shadow]="isSticky ? '0 4px 10px rgba(0, 0, 0, 0.5)' : 'none'"
    >
      <span class="col-index">#</span>
      <span class="col-title">Titel</span>
      <span class="col-listeners">Plays</span>
      <span class="col-duration">
        <img
          src="assets/icons8-uhr.svg"
          alt="time"
        />
      </span>
    </div>

    <div class="songs_list">
      @for (s of album.songs; track $any(s).id) {
        <app-songRow
          [song]="$any(s)"
          [album]="album"
          [index]="$index + 1"
          [context]="'album'"
          [currentTrack]="playerService.currentTrack$ | async"
          [isPlaying]="(playerService.isPlaying$ | async) || false"
          (playRequest)="handlePlay($any(s))"
        >
          <!-- в context -->
        </app-songRow>
      }
    </div>
  </div>
}
