@if (album) {
  <div class="album_page">
    <div
      class="gradient-background"
      [style.background]="gradientColor"
    ></div>

    <div
      class="sticky-header"
      [class.visible]="isSticky"
      [style.background-color]="mainColor"
    >
      <div class="sticky-content">
        <button
          class="play-btn"
          (click)="handlePlay(album.songs[0])"
        >
          <div class="play-icon">
            @if (isAlbumPlaying) {
              <img
                width="25px"
                src="assets/pause-50.svg"
                alt="pause"
                class="svg-icon"
              />
            } @else {
              <img
                width="25px"
                src="assets/spielen-50.svg"
                alt="Play"
                class="svg-icon"
              />
            }
          </div>
        </button>
        <div class="sticky-text">
          <h2>{{ album.title }}</h2>
        </div>
      </div>
    </div>

    <div
      class="album_header"
      #albumHeaderRef
    >
      <div class="album-heade__inside">
        <img
          [src]="album.cover"
          class="album_cover"
        />
        <div class="album_info">
          <h1>{{ album.title }}</h1>
          <p class="active">{{ album.description }}</p>
          <p>{{ album.songs.length }} songs</p>
        </div>
      </div>
    </div>

    <div
      class="table-header"
      [style.background-color]="isSticky ? '#1f1f1f' : 'transparent'"
      [style.box-shadow]="'0 4px 10px rgba(0, 0, 0, 0.5);'"
    >
      <span class="col-index">#</span>
      <span class="col-title">Titel</span>
      <div class="col-duration">
        <img
          src="assets/icons8-uhr.svg"
          alt="time"
        />
      </div>
    </div>

    <div class="songs_list">
      @for (s of album.songs; track $index) {
        <app-songRow
          [song]="s"
          [index]="$index + 1"
          [currentTrack]="playerService.currentTrack$ | async"
          [isPlaying]="(playerService.isPlaying$ | async) || false"
          (playRequest)="handlePlay(s)"
        ></app-songRow>
      }
    </div>
  </div>
}
