@if (isNoLayout) {
  <router-outlet />
} @else {
  @if ({ isVisible: isPlayerVisible$ | async }; as state) {
    
    <div class="spotify-app">
      <app-spotify-sidebar />

      <div class="spotify-main">
        <app-top-nav />

        <div class="spotify-content-scroll" [class.has-player]="state.isVisible">
          <router-outlet />
        </div>
      </div>

      @if (state.isVisible) {
        <div class="spotify-app__player">
          <app-player></app-player>
        </div>
      }
    </div>

  }
}