<div class="spotify-sidebar">
    <div class="spotify-sidebar-logo">
        <img
            width="150"
            src="assets/spotify-logo_light.png"
        />
    </div>

    <div class="spotify-sidebar-item">
        <a (click)="goToHome()">Home</a>
    </div>
    <div class="spotify-sidebar-item">
        <a (click)="goToLibrary()">Your Library</a>
    </div>
    <div class="spotify-sidebar-item">
        <a (click)="goToCreatePlaylist()"
            >Create Playlist</a
        >
    </div>
</div>
