/* Правая колонка (Основной контент) */
.spotify__home-container__playlist-container {

    h4 {
        color: var(--text-base);
        font-size: 24px;
        font-weight: 700;
        margin: 24px 0 16px 0px;
    }

    .playlist_card_collections {
        padding: 0 24px 24px 24px;
        // При открытии в полный экран в "будущем"
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Адаптивная сетка */
        gap: 24px;
    }
}