<div class="spotify__top-nav">
    <div class="spotify__top-nav_focus__title">
        Focus
    </div>
    <div class="spotify__top-nav_search">
        <button>
            <img src="assets/search.svg" alt="search">
        </button>
        <input type="search" placeholder="What do you want to listen to?">
    </div>
    <div class="spotify__top-nav_auth">
        <div class="spotify__top-nav_auth_sigh-up">
            Sign Up
        </div>
        <div class="spotify__top-nav_auth_login" (click)="onNagivateToLogin()">
            Log In
        </div>

    </div>
</div>